{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Solicitud de Artículo</title>
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+YI7Yh6IYG+b4YEu5tK9KKbQyS4h4" crossorigin="anonymous">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/formulario_solicitudes.css' %}">
    <!-- SWEET ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    {% include 'navegacion/nav.html' %}

    <div class="container mt-5">
        <h2 class="titulo-seccion text-center">Crear Solicitud de Artículo</h2>
        <div class="border p-4 mx-auto" id="contenedor">
            <form method="POST" class="formulario-solicitud">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'avisos_form' in message.tags and 'error' in message.tags %}
                            <div class="alert {{ message.tags }} alert-success fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <!-- Nombre y Apellido -->
                <div class="mb-3">
                    <label for="nombre_apellido" class="form-label titulo-input">Nombre y Apellido</label>
                    {{ form.nombre_apellido|add_class:"form-control"|attr:"placeholder:Ejemplo: Juan Pérez" }}
                    {% if form.nombre_apellido.errors %}
                    <div class="text-danger mt-1 small">
                        {{ form.nombre_apellido.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <!-- RUT -->
                <div class="mb-3">
                    <label for="rut" class="form-label titulo-input">RUT</label>
                    {{ form.rut|add_class:"form-control"|attr:"placeholder:Ejemplo: 123456789" }}
                    {% if form.rut.errors %}
                    <div class="text-danger mt-1 small">
                        {{ form.rut.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <!-- Asignatura -->
                <div class="mb-3">
                    <label for="asignatura" class="form-label titulo-input">Asignatura</label>
                    {{ form.asignatura|add_class:"form-control"|attr:"placeholder:Ejemplo: Matemáticas" }}
                    {% if form.asignatura.errors %}
                    <div class="text-danger mt-1 small">
                        {{ form.asignatura.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- Fecha de Salida -->
                    <div class="col-md-6 mb-3">
                        <label for="fecha_salida" class="form-label titulo-input">Fecha de Salida</label>
                        {{ form.fecha_salida|add_class:"form-control"|attr:"placeholder:Ejemplo: 2024-11-09" }}
                        {% if form.fecha_salida.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.fecha_salida.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Hora de Salida -->
                    <div class="col-md-6 mb-3">
                        <label for="hora_salida" class="form-label titulo-input">Hora de Salida</label>
                        {{ form.hora_salida|add_class:"form-control"|attr:"placeholder:Ejemplo: 10:00" }}
                        {% if form.hora_salida.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.hora_salida.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <!-- Fecha de Devolución -->
                    <div class="col-md-6 mb-3">
                        <label for="fecha_devolucion" class="form-label titulo-input">Fecha de Devolución</label>
                        {{ form.fecha_devolucion|add_class:"form-control"|attr:"placeholder:Ejemplo: 2024-11-10" }}
                        {% if form.fecha_devolucion.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.fecha_devolucion.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Hora de Devolución -->
                    <div class="col-md-6 mb-3">
                        <label for="hora_devolucion" class="form-label titulo-input">Hora de Devolución</label>
                        {{ form.hora_devolucion|add_class:"form-control"|attr:"placeholder:Ejemplo: 18:00" }}
                        {% if form.hora_devolucion.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.hora_devolucion.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Código de Artículo -->
                <div class="mb-3">
                    <label for="codigo_articulo" class="form-label titulo-input">Código del Artículo</label>
                    {{ form.cod_articulo|add_class:"form-control"|attr:"placeholder:Ejemplo: CFTN1234" }}
                    {% if form.cod_articulo.errors %}
                    <div class="text-danger mt-1 small">
                        {{ form.cod_articulo.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <!-- Cantidad -->
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cantidad" class="form-label titulo-input">Cantidad</label>
                        {{ form.cantidad|add_class:"form-control"|attr:"placeholder:Ejemplo: 2" }}
                        {% if form.cantidad.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.cantidad.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Tipo de Solicitante -->
                    <div class="col-md-6 mb-3">
                        <label for="tipo_solicitante" class="form-label titulo-input">Solicitante</label>
                        {{ form.tipo_solicitante|add_class:"form-control" }}
                        {% if form.tipo_solicitante.errors %}
                        <div class="text-danger mt-1 small">
                            {{ form.tipo_solicitante.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-agregar">Enviar Solicitud</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // Código para mostrar el mensaje de éxito si existe
            {% if messages %}
            {% for message in messages %}
            {% if 'solicitud_creada' in message.tags and 'success' in message.tags %}
            Swal.fire({
                title: "¡Solicitud Creada!",
                text: '{{ message }}',
                icon: "success",
                timer: 3000,
            });
            {% endif %}
            {% endfor %}
            {% endif %}
        });
    </script>

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>