{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Solicitudes</title>
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+YI7Yh6IYG+b4YEu5tK9KKbQyS4h4" crossorigin="anonymous">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/historial_solicitudes.css' %}">
</head>
<body>

    {% include 'navegacion/nav.html' %}

        <div class="container mt-5">
        <h2 class="titulo-seccion text-center">Historial de Solicitudes</h2>
        <br>
        <br>

        <form method="GET" class="mb-4">
            <div class="row g-3">
                <!-- Campo de búsqueda por nombre, RUT o asignatura -->
                <div class="col-md-2">
                    <p class="texto-blanco mb-1"><strong>Buscar por:</strong></p>
                    <input type="text" name="q" class="form-control" placeholder="Nombre, RUT o asignatura" value="{{ request.GET.q|default_if_none:'' }}">
                </div>
                
                <!-- Campo de fecha de salida desde -->
                <div class="col-md-2">
                    <p class="texto-blanco mb-1"><strong>Salida desde:</strong></p>
                    <input type="date" name="fecha_salida_inicio" class="form-control input-fecha" value="{{ request.GET.fecha_salida_inicio|default_if_none:'' }}">
                </div>
                
                <!-- Campo de fecha de salida hasta -->
                <div class="col-md-2">
                    <p class="texto-blanco mb-1"><strong>Hasta:</strong></p>
                    <input type="date" name="fecha_salida_fin" class="form-control input-fecha" value="{{ request.GET.fecha_salida_fin|default_if_none:'' }}">
                </div>
                
                <!-- Campo de fecha de devolución desde -->
                <div class="col-md-2">
                    <p class="texto-blanco mb-1"><strong>Devolución desde:</strong></p>
                    <input type="date" name="fecha_devolucion_inicio" class="form-control input-fecha" value="{{ request.GET.fecha_devolucion_inicio|default_if_none:'' }}">
                </div>
                
                <!-- Campo de fecha de devolución hasta -->
                <div class="col-md-2">
                    <p class="texto-blanco mb-1"><strong>Hasta:</strong></p>
                    <input type="date" name="fecha_devolucion_fin" class="form-control input-fecha" value="{{ request.GET.fecha_devolucion_fin|default_if_none:'' }}">
                </div>

                <div class="col-md-1">
                    <p class="texto-blanco mb-1" ="estado_devolucion"><strong>Estado</strong></p>
                    <select name="estado_devolucion" class="form-control" id="estado_devolucion">
                        <option value="" {% if estado_devolucion == "" %}selected{% endif %}>Todos</option>
                        <option value="devuelto" {% if estado_devolucion == "devuelto" %}selected{% endif %}>Devuelto</option>
                        <option value="parcialmente devuelto" {% if estado_devolucion == "parcialmente devuelto" %}selected{% endif %}>Parcialmente devuelto &nbsp &nbsp</option>
                        <option value="no devuelto" {% if estado_devolucion == "no devuelto" %}selected{% endif %}>No devuelto</option>
                    </select>
                </div>

                <div class="col-md-1">
                    <p class="texto-blanco mb-1"><strong>Atrasado</strong></p>
                    <select name="atrasado" class="form-control" id="atrasado">
                        <option value="" {% if not atrasado %}selected{% endif %}>Todos</option>
                        <option value="False" {% if atrasado == "False" %}selected{% endif %}>No</option>
                        <option value="True" {% if atrasado == "True" %}selected{% endif %}>Sí</option>
                    </select>
                </div>
                
                
                <!-- Botón de búsqueda -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary cambiar-estado" style="width: 100px; ">Buscar</button>
                </div>
                    
            </div>
        </form>

        <div class="row">
            {% for item in solicitudes_con_nombre %}
                <div class="col-md-4 mb-5">
                    <div class="card tarjeta">
                        <div class="card-body tarjeta">
                            <h5 class="card-title titulo-tarjeta texto-blanco">
                                <strong>{{ item.solicitud.nombre_apellido }}</strong>
                            </h5>
                            <p class="rut-1">
                                <strong>RUT: </strong><span class="rut">{{ item.solicitud.rut }}</span>
                            </p>
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="texto-blanco">Detalle</th>
                                        <th class="texto-blanco">Información</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Fechas y horas -->
                                    <tr>
                                        <td class="texto-blanco"><strong>Fecha y hora de salida</strong></td>
                                        <td class="texto-blanco">{{ item.solicitud.fecha_salida }} -- {{ item.solicitud.hora_salida }}</td>
                                    </tr>
                                    <tr>
                                        <td class="texto-blanco"><strong>Fecha y hora de devolución</strong></td>
                                        <td class="texto-blanco">{{ item.solicitud.fecha_devolucion }} -- {{ item.solicitud.hora_devolucion }}</td>
                                    </tr>
                                    <tr>
                                        <td class="texto-blanco"><strong>Asignatura a utilizar</strong></td>
                                        <td class="texto-blanco">{{ item.solicitud.asignatura }}</td>
                                    </tr>
                                    <tr>
                                        <td class="texto-blanco"><strong>Encargado</strong></td>
                                        <td class="texto-blanco align-items-center">{{ user.first_name }} {{user.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="texto-blanco"><strong>Estado</strong></td>
                                        <td style="text-align:center" class="{% if item.solicitud.estado_devolucion|lower == 'no devuelto' %}bg-no-devuelto
                                        {% elif item.solicitud.estado_devolucion|lower == 'parcialmente devuelto' %}bg-parcialmente-devuelto
                                        {% elif item.solicitud.estado_devolucion|lower == 'devuelto' %}bg-devuelto{% endif %}">
                                            {{ item.solicitud.estado_devolucion|capfirst }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <!-- Botones para acciones -->
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <button type="button" class="btn cambiar-estado" data-bs-toggle="modal" data-bs-target="#modalCambiarEstado{{ item.solicitud.id }}">
                                        Cambiar Estado
                                    </button>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <button type="button" class="btn cambiar-estado2" data-bs-toggle="modal" data-bs-target="#modalDetalles{{ item.solicitud.id }}">
                                        Ver Detalles
                                    </button>
                                </div>
                            </div>
        
                            <!-- Modal para ver detalles de artículos -->
                            <div class="modal fade" id="modalDetalles{{ item.solicitud.id }}" tabindex="-1" aria-labelledby="modalDetallesLabel{{ item.solicitud.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDetallesLabel{{ item.solicitud.id }}">Solicitudes de {{item.solicitud.nombre_apellido}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="texto-blanco">
                                                        <th class="texto-blanco">Nombre</th>
                                                        <th class="texto-blanco">Código</th>
                                                        <th class="texto-blanco">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if item.articulos_combinados %}
                                                        {% for cod_articulo, nombre_articulo, cantidad in item.articulos_combinados %}
                                                            <tr class="texto-blanco">
                                                                {% if not cod_articulo == null %}
                                                                    <td class="texto-blanco">{{ nombre_articulo }}</td>
                                                                    <td class="texto-blanco">{{ cod_articulo }}</td>
                                                                    <td class="texto-blanco">{{ cantidad }}</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">No hay artículos disponibles.</td>
                                                        </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Modal para actualizar el estado de la solicitud -->
                            <div class="modal fade" id="modalCambiarEstado{{ item.solicitud.id }}" tabindex="-1" aria-labelledby="modalCambiarEstadoLabel{{ item.solicitud.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalCambiarEstadoLabel{{ item.solicitud.id }}">Actualizar Estado de Devolución</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="{% url 'actualizar_estado_devolucion' item.solicitud.id %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="estado_devolucion_{{ item.solicitud.id }}" class="form-label">Selecciona el nuevo estado</label>
                                                    <select class="form-select" name="estado_devolucion" id="estado_devolucion_{{ item.solicitud.id }}" required>
                                                        {% if item.solicitud.estado_devolucion == 'parcialmente devuelto' %}
                                                            <option value="devuelto">Devuelto</option>
                                                        {% elif item.solicitud.estado_devolucion == 'no devuelto' %}
                                                            <option value="devuelto">Devuelto</option>
                                                            <option value="parcialmente devuelto">Parcialmente devuelto</option>
                                                        {% else %}
                                                            <option value="devuelto" selected>Devuelto</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary cambiar-estado" {% if item.solicitud.estado_devolucion == 'devuelto' %}disabled{% endif %}>
                                                    Actualizar
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <p>No hay solicitudes registradas.</p>
                </div>
            {% endfor %}
        </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Función para formatear el RUT
            function formatearRut(rut) {
                // Eliminar puntos y guiones previos
                rut = rut.replace(/\./g, '').replace('-', '');
                
                // Asegurarse de que el RUT tiene la longitud correcta
                if (rut.length < 8 || rut.length > 9) return rut;
    
                // Obtener el cuerpo del RUT y el dígito verificador
                let cuerpo = rut.slice(0, -1);
                let dv = rut.slice(-1);
    
                // Formatear el cuerpo del RUT con puntos
                cuerpo = cuerpo.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
    
                // Devolver el RUT formateado
                return `${cuerpo}-${dv}`;
            }
    
            // Aplicar el formato a todos los RUTs mostrados
            const rutElements = document.querySelectorAll('.rut');
            rutElements.forEach(function(element) {
                element.textContent = formatearRut(element.textContent);
            });
        });
    </script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+YI7Yh6IYG+b4YEu5tK9KKbQyS4h4" crossorigin="anonymous"></script>
</body>
</html>
