.titulo-seccion {
    text-align: center;
    margin: 8px !important;
    color: #a80000;
}

.titulo-input {
    color: white;
    font-size: large !important;
}

#contenedor {
    background-color: #722828;
    width: 100%; 
    max-width: 550px; 
    border-radius: 13px;
    padding: 20px;
    border-color: #ff6f36;
    margin: 0 auto; /* Centra el contenedor */
}

.errores {
    max-height: 50px;
    overflow-y: auto;
    color: black;
    font-size: 0.8em;
    margin-top: 5px;
}

.formulario-solicitud {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #722828!important;
}

#volver {
    margin-right: 50px;
}

.btn.btn-agregar {
    background-color: #ff6f36 !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.btn.btn-agregar:hover {
    background-color: rgb(7, 168, 7) !important;
    color: rgb(255, 255, 255) !important;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    #contenedor {
        padding: 10px; 
    }

    .formulario-solicitud {
        margin-left: 10px; 
        margin-right: 10px;
    }

    #volver {
        margin-right: 20px; 
    }
}

