.titulo-seccion {
    text-align: center;
    margin: 8px !important;
    color: #a80000;
}

.titulo-formulario {
    margin-bottom: 30px;
    color:white;
}

.titulo-input{
    color:white;
    font-size: large!important;
}

#contenedor_body {
    display: flex; /* Cambiado a flex para facilitar la alineación */
    align-items: center;
    justify-content: center;
    margin: 0;
    color:white;
}

.titulo-input{
    color:white;
}

.btn.btn-volver {
    background-color: #ff1d1d !important; /* Utilizar !important si es necesario */
    color: white !important;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
}

.btn.btn-volver:hover {
    background-color: #a80000 !important;
    color: white !important;
}

.btn.btn-agregar {
    background-color: #ff6f36 !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.btn.btn-agregar:hover {
    background-color: rgb(7, 168, 7) !important;
    color: rgb(255, 255, 255) !important;
}
#contenedor {
    background-color:#722828;
    width: 100%; /* Cambiado a 100% para que ocupe el ancho completo */
    max-width: 550px; /* Mantener un ancho máximo para no exceder en pantallas grandes */
    border-radius: 13px;
    padding: 20px; /* Agregado padding para espacio interior */
    border-color: #ff6f36;
}

.errores {
    max-height: 50px;
    overflow-y: auto;
    color: black;
    font-size: 0.8em;
    margin-top: 5px;
}

.form {
    margin-left: 20px;
    margin-right: 20px;
}

#volver {
    margin-right: 50px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    #contenedor {
        padding: 10px; /* Reducir padding en pantallas pequeñas */
    }

    .form {
        margin-left: 10px; /* Reducir márgenes en pantallas pequeñas */
        margin-right: 10px;
    }

    #volver {
        margin-right: 20px; /* Reducir margen derecho en el botón "volver" */
    }
}
