.tarjeta{
    background-color: #eee;
    border-radius: 4px;
}

h5{
    color:#982B1C !important;
    text-align: center;
}

.rut-1{
    color:#982B1C !important;
    text-align: center;
}

.titulo-seccion{
    color: #982B1C;
}

.estado-devolucion {
    display: flex;
}

.bg-no-devuelto {
    background-color: #ff0019 !important; 
    color: #ffffff!important;  
}

.bg-parcialmente-devuelto {
    background-color: #eebb00 !important;
    color: #722828!important;
}

.bg-devuelto {
    background-color: #008f13 !important;
    color: #ffffff!important;
}

.table.table {
    border-color: #722828;
}

.table.table th,
.table.table td {
    border-color: #722828;
    background-color: #ffffff;
    color:#982B1C;
}

/* También puedes añadir un fondo transparente para asegurarte de que no se noten las celdas */
.table.table {
    border-color: #982B1C;
}

.texto-blanco {
    color: #982B1C;
}

.rojo-intenso {
    background-color: #D91424; /* Un rojo más intenso */
}

.cambiar-estado {
    background-color:  #982B1C !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.cambiar-estado:hover {
    background-color:#ff6f36 !important;
    color: rgb(255, 255, 255) !important;
}

/* Ajusta el tamaño de los campos de fecha */
.input-fecha {
    font-size: 14px;
    padding: 8px;
    max-width: 100%;
}

/* Espaciado general entre los elementos */
.g-2 {
    gap: 0.5rem; /* Espacio entre las columnas */
}

/* Diseño del botón */
.btn-primary {
    width: 100%; /* Hace que el botón ocupe todo el espacio de su columna */
}