.navbar {
    background-color: #a80000;
}

.nav-item {
    margin-right: 0.8rem;
}

.nav-link {
    padding: 0.5rem 0.7rem;
    color: #ffffff !important;
    font-size: 0.9rem; /* Tamaño reducido */
}

.nav-link:hover {
    color: #ffbb33 !important;
}

.text-white {
    font-size: 0.8rem; /* Tamaño reducido */
}

.nav-link i {
    font-size: 1rem; /* Tamaño reducido */
}

.d-flex.align-items-center {
    margin-left: 1rem;
}

.navbar-brand img {
    height: 1.5rem; /* Ajustar la altura de la imagen si es necesario */
}

.navbar-toggler {
    border: none; 
    background-color: transparent; 
    padding: 0.5rem;
    font-size: 0.75rem; 
}

.navbar-toggler img {
    height: 30px; 
    width: auto; 
}

.navbar-collapse {
    background-color: #a80000;
}

.dropdown-menu {
    background-color: #850000; 
    border: none; 
}

.dropdown-item {
    color: #ffffff;
    font-size: 0.8rem;
}

.dropdown-item:hover {
    background-color: #a80000;
    color: #ffbb33; 
}
